In [ ]:
import numpy as np

x = np.array([1, 3, 5, 10])
arr = np.column_stack([x, x / 0.173, x / 0.139, x / 0.198])
arr = np.round(arr, 2)

arr

In [ ]:
np.round(arr / 3, 1)

In [ ]:
(5.5 * 8 - 5.5) * 0.198

In [ ]:
(19.6 * 3) * 0.17

In [ ]:
19.6 * (3 / 2)

In [ ]:
import geopandas as gpd
import pandas as pd
import numpy as np

electrodes = [
    [-3, -1, 1, 3],
    [-9, -3, 3, 9],
    [-15, -5, 5, 15],
    [-29.4, -9, 9, 29.4],
]
electrodes = [
    [-1.5, -0.5, 0.5, 1.5],
    [-5, -1.5, 1.5, 5],
    [-7.5, -2.5, 2.5, 7.5],
    [-15, -5, 5, 15],
]
electrodes = np.array(electrodes)
l = np.ptp(electrodes, axis=1)
d = l * 0.173
a = electrodes[:, 2] - electrodes[:, 1]
n = (electrodes[:, 1] - electrodes[:, 0]) / a
k = np.pi * n * (n + 1) * a


array = np.column_stack([electrodes, l, d, a, n, k])
array = np.round(array, 1)

df = pd.DataFrame(array)
df.columns = ["C1", "P1", "P2", "C2", "l", "doi", "a", "n", "k"]
fp = "projects/kysuce/array_kysuce.gpkg"

gpd.GeoDataFrame(df).to_file(fp, layer="tab")

x = electrodes.flatten()
y = np.arange(0, (len(x)))
y = y // 4
y *= -4


geom = gpd.points_from_xy(x, y)
gdf = gpd.GeoDataFrame(geometry=geom, crs=8353)
gdf[["x", "y"]] = gdf.get_coordinates()
gdf.to_file(fp)

el_pos = np.unique(electrodes)
x = el_pos
y = -16
geom = gpd.points_from_xy(x, y)
gdf = gpd.GeoDataFrame(geometry=geom, crs=8353)
gdf[["x", "y"]] = gdf.get_coordinates()
gdf.to_file(fp, layer="electrodes")

In [26]:
df

     C1   P1   P2    C2     l   doi     a    n      k
0  -3.0 -1.0  1.0   3.0   6.0   1.0   2.0  1.0   12.6
1  -9.0 -3.0  3.0   9.0  18.0   3.1   6.0  1.0   37.7
2 -15.0 -5.0  5.0  15.0  30.0   5.2  10.0  1.0   62.8
3 -29.4 -9.0  9.0  29.4  58.8  10.2  18.0  1.1  136.7

In [12]:
(0.173 + (0.186 - 0.173) * 0.22) * 30

5.275799999999999

In [11]:
11 / 9

1.2222222222222223